/*div {
  border: solid 1px blue;
}

#primeraColumna {
  min-width: 400px;
  width: 100%;
}
*/

#foto {
  height: 200px;
  width: auto;
}

div {
  word-wrap: break-word;
}

#t1,
#t2,
#t3,
#t4,
#t5,
#t6,
#t7,
#t8 {
  border-radius: 5px 30px 45px 60px;
}

#t9 {
  border-radius: 30px;
}
