#foto {
  height: 200px;
  width: auto;
}

div {
  word-wrap: break-word;
}

#t1,
#t2,
#t3,
#t4,
#t5,
#t6,
#t7,
#t8 {
  border-radius: 5px 30px 45px 60px;
}

#t9,
#header,
#footer {
  border-radius: 30px;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans Condensed", sans-serif;
}

#header {
  min-height: 80px;
}

h5 {
  font-family: "Sofia Sans", sans-serif;
}

#nombre {
  font-family: "Sofia Sans", sans-serif;
}
