/*div {
  border: solid 1px blue;
}

#primeraColumna {
  min-width: 400px;
  width: 100%;
}
*/

#foto {
  height: 200px;
  width: auto;
}

#contenidoPrincipal {
  max-width: 100%;
}

#columnaDos {
  padding-left: 25px;
}

div {
  word-wrap: break-word;
}

